<h1>Sobre Nosotros</h1>

<div class="card mb-3">
  <img class="card-img-top" src="/public/images/Carlos.jpeg" alt="Card image cap">
  <div class="card-body text-center">
    <h5 class="card-title">Carlos Martin Escobar</h5>
    <p class="card-text">Estudiante Ironhack Web Development </p>
  </div>
</div>


  <div class="card mb-3">
  <img class="card-img-top" src="/public/images/jorge.png" alt="Card image cap">
  <div class="card-body text-center">
    <h5 class="card-title">Jorge Cisneros </h5>
    <p class="card-text">Estudiante Ironhack Web Development </p>
  </div>
  </div>