<h1>Sobre Nosotros</h1>

<div class="card mb-3">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body text-center">
    <h5 class="card-title">Carlos Martin Escobar</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
</div>


  <div class="card mb-3">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body text-center">
    <h5 class="card-title">Jorge Cisnero </h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
  </div>