<!-- Footer -->
<footer class="footer bottom bg-light text-center text-lg-start text-white">


  <!-- Grid container -->
  <div class="container mw-100 p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <img
        src="https://res.cloudinary.com/drls3a8oi/image/upload/v1615475749/IRON%20HACK/MountainMadness/fogcnbxjvf30fvnzow2z.png"
        width="250" height="250" class="img-footer img-fluid" alt="">
      <div class="title-footer col-xs">
        <h5 class="foot-mountain text-uppercase position-absolute top-20 start-50 ">MountainMadness</h5>
      </div>
      <!--Grid column-->



      <!--Grid column-->
      <div class="section-footer col-sm ">
        <h5 class="subtitle-footer text-uppercase">Partners </h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://es.wikiloc.com/" class="text-white">Wikilocs</a>
          </li>
          <li>
            <a href="https://www.google.es/maps" class="text-white">Google Maps</a>
          </li>
          <li>
            <a href="https://naturapp.herokuapp.com/" class="text-white">Naturapp</a>
          </li>
          <li>
            <a href="https://www.ironhack.com/es" class="text-white">Ironhack</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="section-footer col-sm">
        <h5 class="subtitle-footer text-uppercase ">About us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/contactus" class="contacte text-white">Contacte con Nosotros</a>
          </li>
          <li>
            <a href="/aboutUs" class="text-white">Sobre Nosotros</a>
          </li>
          <li>
            <a href="/donate" class="text-white">Donantes</a>
          </li>
          <li>
            <a href="/jobs" class="text-white">Jobs</a>
          </li>
        </ul>
      </div>

      <div class="section-footer col-sm">
        <h5 class="subtitle-footer text-uppercase ">Social</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://twitter.com/" class="text-white">Twitter</a>
          </li>
          <li>
            <a href="https://www.google.es/" class="text-white">Google +</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/" class="text-white">Linked In</a>
          </li>
          <li>
            <a href="https://www.facebook.com/" class="text-white">Facebook</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 text-dark" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    <a class="text-dark" href="/terms">Condiciones de Uso</a>
    <p>Desarrollado por Jorge Cisneros y Carlos Martín </p>
  </div>
  <!-- Copyright -->
</footer>