<div {{#if isHome}} class="navbarhome p-0" {{else}} class="bghome p-0" {{/if}}>
  <div>
    <nav class="navbar navbar-expand-lg sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            src="https://res.cloudinary.com/drls3a8oi/image/upload/v1615379026/IRON%20HACK/MountainMadness/logo_large_csppxs.png"
            width="350" height="350" class="img-fluid" alt="">
        </a>

        <div class="container">
          <div class=" container collapse navbar-collapse justify-content-md" id="navbarNavDropdown">
            <form class="d-flex" style="width: 1000px;">
              <input class="form-control me-2 container" type='text' name='' id="filter-word"
                placeholder="Busca la ruta por su título" aria-label="Search">
              <button class="searchbtn btn btn-outline-success " id="filter-button">Search</button>
            </form>

   

          </div>
        </div>
        <div class="float-right">
          <ul class="navbar-nav">
            <li class="nav-item-track">
              {{#if currentUser}}
            <li><a class="nav-link btn btn-outline-success" href="/users/profile"><input type="image" width="25"
                  height="25" style="vertical-align: middle; "
                  src="https://res.cloudinary.com/drls3a8oi/image/upload/v1615390584/IRON%20HACK/MountainMadness/user_2_w3rlzg.svg">
                Mi perfil</a></li>
            <li><a class="nav-link btn btn-outline-success text-align-right" href="/tracks/create"><input type="image"
                  width="25" height="25" style="vertical-align: middle; "
                  src="https://res.cloudinary.com/drls3a8oi/image/upload/v1615383830/IRON%20HACK/MountainMadness/success_1_putuj6.svg">
                Añadir
                ruta

              </a>
            </li>
            </li>

            <form action="/users/logout" method="POST">
              <li><button class="close-sesion btn btn-danger">Cerrar sesión</button></li>
            </form>
            {{else}}
            <div>
              <button id='signup-button' class="nav-link btn btn-outline-success " {{!-- href="/users/register" --}}>SignUp</button></li>
            </div>
            <div>

              <button id='login-button' class="nav-link btn btn-danger">LogIn</button>
            </div>

            {{/if}}

          </ul>
        </div>
    </nav>
  </div>
</div>