
<p>
    Condiciones legales
Enero 2021

El sitio web ubicado en la dirección https://www.wikiloc.com, incluyendo cualquiera de sus subdominios o secciones (en adelante, el "Sitio Web") está operado por MountainMaddness Outdoor, S.L. (en adelante "Wikiloc") al igual que cualquiera de las aplicaciones móviles y para "wearables" publicadas por Wikiloc (en adelante, las "Aplicaciones").

Las presentes condiciones (en adelante, las "Condiciones") regulan el acceso, navegación y uso del Sitio Web; la descarga y uso de las Aplicaciones por sus usuarios (en adelante, el "Usuario" o los "Usuarios", según corresponda); así como los servicios que se prestan a través del Sitio Web o de las Aplicaciones (en adelante, los "Servicios").

El acceso y uso del Sitio Web o la descarga o el uso de las Aplicaciones suponen que el Usuario ha leído y acepta en su totalidad y se obliga a cumplir por completo las presentes Condiciones. Wikiloc puede modificar las presentes Condiciones en cualquier momento, por lo que recomendamos su revisión regularmente. La fecha al inicio de las presentes Condiciones indica la fecha de la última revisión de estas Condiciones, que será aplicable desde su publicación.

Algunos de los Servicios podrán someterse a condiciones o instrucciones específicas de Wikiloc o de los terceros que los faciliten, que completarán o, si fueran contrarias a lo aquí establecido, sustituirán el contenido de las presentes Condiciones, y que deberán ser aceptadas por el Usuario antes de iniciarse la prestación del Servicio correspondiente.

Asimismo, en lo que respecta a la recogida y uso de datos personales, resulta de aplicación la Política de Privacidad.

1. OBJETO DE LOS SERVICIOS
A través de los Servicios, el Usuario puede crear, guardar, publicar, compartir, enviar, buscar y descargar, rutas y puntos de interés GPS (en adelante, las "Rutas y Puntos de Interés") así como información y contenidos en relación con las mismas.

2. USO AUTORIZADO
El Usuario está autorizado a usar los Servicios únicamente si se trata de una persona física y de conformidad con estas Condiciones. El Usuario se compromete a usar los Servicios de buena fe y sólo para fines domésticos y particulares. No se autoriza el uso de los Servicios por parte de los Usuarios para cualquier finalidad distinta de su uso personal, como por ejemplo, fines comerciales, lucrativos o de negocio.

El Usuario se compromete a no usar los Servicios de forma negligente, con fines fraudulentos o con la finalidad de infringir la Ley. Igualmente, el Usuario se compromete a no llevar a cabo conducta alguna que pudiera dañar la imagen, los intereses y los derechos de MountainMadness o de terceros.

El Usuario entiende que no debe confiar en la Aplicacion y los Servicios en ninguna situación de vida o muerte. El usuario tambien entiende y acepta los riesgos asociados con permitir a otros visualizar su ubicación durante el uso de la funcionalidad de Seguimiento en Vivo.

El Usuario se abstendrá de interferir en el funcionamiento del Sitio Web, de las Aplicaciones o en los Servicios, en particular, de suplantar a otro usuario o persona. El Usuario se compromete a no realizar cualquier acto que dañe, inutilice o sobrecargue, deteriore o impida la normal utilización del Sitio Web, de las Aplicaciones o de los Servicios, que afecte a su seguridad o que dificulte o interfiera en los mismos. Queda prohibido el acceso mediante robots, arañas o cualquier otro dispositivo, programa, aplicación móvil o herramienta para acceder, copiar o controlar cualquier parte del Sitio Web, de las Aplicaciones o de los Servicios o cualquier otro acceso y uso del Sitio Web, de las Aplicaciones o de los Servicios que sea contrario a su explotación normal y con fines personales o que lesione injustificadamente los intereses de Wikiloc, sin autorización expresa previa de Wikiloc. Igualmente, se prohíbe obtener o intentar obtener los contenidos del Sitio Web o de las Aplicaciones (incluyendo Contenido del Usuario, como este término se define más adelante) empleando medios o técnicas diferentes de los que suponen la forma habitual de utilización o aquellas autorizados expresamente por Wikiloc.

En todo caso se presume abusivo y no autorizado el uso de los Servicios mediante las Aplicaciones por un Usuario cuando (i) su uso de un servicio concreto sea superior al uso que realizan el 99% de los usuarios en un periodo concreto y (ii) Wikiloc considere que puede afectar a la calidad o seguridad del servicio de los demás usuarios. Wikiloc procederá a bloquear el acceso a los Usuarios que realicen un uso abusivo o no autorizado. La posibilidad de bloquear usuarios malintencionados es la única manera de asegurar que podemos ofrecer un servicio fiable a todos los usuarios legítimos.

Es responsabilidad del Usuario comprobar, con carácter previo a su uso, que los Servicios se adaptan a sus necesidades.

3. REGISTRO
Para utilizar determinados Servicios, el Usuario debe registrarse, creando un usuario y contraseña y activando su cuenta. A estos efectos, el Usuario debe proporcionar una dirección de correo electrónico válida, a través de la cual reciba cualquier notificación relativa a los Servicios.

El Usuario se compromete a proporcionar la información que se exige para el registro con carácter obligatorio así como a aportar información veraz, completa y actualizada. Es responsabilidad del Usuario mantener actualizada, en la forma que corresponda, la citada información. Si el Usuario proporciona, o Wikiloc tiene motivos para sospechar que ha proporcionado, información falsa, no actualizada o incompleta, Wikiloc podrá suspender o resolver su registro.

El Usuario debe custodiar su contraseña, tratarla de forma confidencial y no revelarla a otras personas. No se debe permitir a otros usuarios el acceso desde la cuenta del Usuario ni se debe usar la cuenta de otro usuario.

El Usuario es responsable de lo que se haga desde su cuenta a través de cualquier dispositivo. Si sospecha que otro usuario está usando su cuenta, deberá informar inmediatamente a Wikiloc.

Wikiloc podrá suspender o cancelar la cuenta del Usuario si considera que ha incumplido las presentes Condiciones.

4. NORMAS EN RELACIÓN CON LOS CONTENIDOS
A través de los Servicios, los Usuarios pueden:

Crear, guardar, alojar o compartir sus Rutas y Puntos de Interés, a través del Sitio Web o de las Aplicaciones y permitir a otros seguir sus rutas y vizualizar su ubicación en un mapa.
Alojar y publicar fotos, videos o información adicional en relación con esas Rutas y Puntos de Interés o con su cuenta, a través del Sitio Web y de las Aplicaciones o con enlaces a sitios de terceros como Panoramio (en adelante, las "Fotos y Videos").
Expresar sus opiniones y comentarios a las Rutas y Puntos de Interés o a través del Foro (en adelante, los "Comentarios").
Al publicar Rutas y Puntos de Interés, Fotos y Videos, Comentarios o cualquier otra información o contenido (en adelante, de forma conjunta, el "Contenido del Usuario"), el Usuario se compromete a cumplir las siguientes normas:

El Contenido del Usuario debe ser relevante, respetar en todo momento los derechos de terceros, no ser contrario a las leyes, la moral y el orden público y cumplir estas Condiciones. Los Usuarios deben tener en cuenta que a través de los Servicios pueden publicar el Contenido del Usuario en un foro público y que son responsables de lo que almacenen y publiquen a través del Sitio Web y de las Aplicaciones.
El Usuario debe ser titular de los derechos de propiedad intelectual, industrial o de cualquier otro tipo sobre el Contenido del Usuario que comparta, por ser su autor o titular originario o estar autorizado para ello por el correspondiente autor o titular de los derechos.
Si en el Contenido del Usuario aparece la imagen, voz o nombre de cualquier persona o cualquier información confidencial o privada en relación con la misma, esa persona debe haber autorizado la publicación de ese Contenido.
El Contenido del Usuario no debe incluir material publicitario o promocional, ni ser empleado para difundir publicidad o con un ánimo de lucro o beneficio propio.
El Contenido del Usuario no debe incluir virus, gusanos o cualquier tipo de código de naturaleza destructiva.
El Contenido del Usuario debe cumplir las condiciones y requisitos técnicos establecidos en cada momento por Wikiloc.
En particular, el Usuario se compromete a que el Contenido del Usuario cumpla los Principios y Buenas Prácticas de Wikiloc, especialmente en lo que respecta al respeto a la propiedad, los derechos e intereses de terceros o generales. Es importante respetar los derechos de los propietarios de fincas privadas y evitar el paso y acceso por propiedades privadas que afecten a derechos o causen perjuicios a terceros.

Wikiloc se limita a alojar el Contenido del Usuario. En consecuencia, Wikiloc no edita, selecciona, examina, controla, garantiza, aprueba o se identifica con el Contenido del Usuario en particular y sin limitación, Wikiloc no garantiza que el Contenido del Usuario sea exacto, actual, legal, adecuado para una finalidad o unos Usuarios específicos o que no suponga el incumplimiento de ninguna normativa aplicable o una infracción de derechos de terceros, siendo responsabilidad del Usuario asegurarse que su utilización no supone un riesgo o la realización de una actividad ilegal. En concreto, de conformidad con la Ley 34/2002 de Servicios de la Sociedad de la Información y de Comercio Electrónico, Wikiloc como prestador de servicios de la sociedad de la información a través del Sitio Web ni supervisa el contenido del wiki ni puede juzgar los contenidos que incluyen los Usuarios. Si se desea efectuar alguna consulta en relación con el Contenido del Usuario o cree que infringe cualquier derecho, que no cumple estas Condiciones o que es inapropiado, puede hacerlo de la siguiente forma:

Si se trata de una Ruta o Punto de Interés, le recomendamos que utilice los mecanismos existentes dentro del Sitio Web para hacerle llegar su reclamación al autor de la Ruta y Punto de Interés. El autor como dueño y único responsable del Contenido del Usuario es quien debe valorar su solicitud. En cualquier caso, usted puede incluir directamente un comentario en la referida ruta con los datos y aclaraciones que considere pertinentes que tendrá idéntica difusión que la propia ruta alertando a cualquier potencial usuario de las cuestiones oportunas; y
En el resto de los casos, poniéndose en contacto con Wikiloc en el correo electrónico indicado al final de las presentes Condiciones.
Sin perjuicio de que Wikiloc no está obligado a efectuar una supervisión general del Contenido del Usuario, Wikiloc puede modificar o borrar, total o parcialmente y en cualquier momento, cualquier Contenido del Usuario que, a su juicio, incumpla estas Condiciones o pueda ser ofensivo, ilegal o infringir derechos de terceros.

5. RESPONSABILIDAD
El Usuario reconoce y acepta que usa el Sitio Web, las Aplicaciones y los Servicios en todo momento bajo su entero riesgo y responsabilidad, por lo que Wikiloc no se responsabiliza del mal uso, uso indebido o uso contrario a las presentes Condiciones que pueda realizar de los mismos.

El Usuario será responsable de los daños y perjuicios que se originen a Wikiloc como consecuencia de su uso del Sitio Web, de las Aplicaciones y de los Servicios incumpliendo estas Condiciones y se compromete a mantener indemne a Wikiloc y a sus administradores, personal, agentes y representantes de cualquier responsabilidad en la que puedan incurrir como consecuencia de dicho incumplimiento por el Usuario.

Wikiloc no garantiza la disponibilidad y continuidad del funcionamiento del Sitio Web, de las Aplicaciones y de los Servicios (en particular, en la medida en que estos dependan de terceros), ni su fiabilidad, exactitud o corrección o su utilidad para una finalidad o actividad específica. En la medida permitida por la normativa aplicable, Wikiloc excluye cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse de lo anterior.

Con carácter enunciativo, pero no limitativo, Wikiloc no es responsable de los perjuicios que se pudieran derivar de:

Interrupciones, virus, averías, interferencias, omisiones o desconexiones del sistema electrónico, del sistema de comunicaciones o en sus equipos por motivos ajenos a Wikiloc.
Retrasos o bloqueos en el uso del Sitio Web, de las Aplicaciones y de los Servicios por deficiencias o sobrecargas en Internet, en las líneas o en los sistemas eléctricos o de comunicaciones.
Actuaciones de terceros.
La imposibilidad de acceso al Sitio Web, a las Aplicaciones o a los Servicios por labores de mantenimiento o actualización.
Cualquier otro supuesto fuera del control de Wikiloc.
EXCEPTO EN LOS CASO DE ACTUACIÓN DOLOSA, Y AQUELLOS EN LOS QUE POR LAS CIRCUNSTANCIAS PARTICULARES DEL USUARIO O DEL OBJETO, RESULTE DE APLICACIÓN UN RÉGIMEN IMPERATIVO DE RESPONSABILIDAD, EL USO DEL SITIO WEB, DE LAS APLICACIONES Y DE LOS SERVICIOS SE REALIZA AL ÚNICO Y ENTERO RIESGO DEL USUARIO Y WIKILOC NO SERÁ RESPONSABLE DE NINGÚN DAÑO O PERJUICIO DE CUALQUIER NATURALEZA QUE SE GENERE AL USUARIO POR EL USO DEL SITIO WEB, DE LAS APLICACIONES O DE LOS SERVICIOS.

De conformidad con lo establecido en la Condición Cuarta anterior, en relación con los Contenidos del Usuario, Wikiloc actúa exclusivamente como prestador del servicio consistente en habilitar el Sitio Web y las Aplicaciones como espacio a través del cual los Usuarios pueden almacenar y publicar dicho Contenido del Usuario. La responsabilidad por el almacenamiento o publicación a través del Sitio Web y las Aplicaciones del Contenido del Usuario y de toda información, datos, textos, software, sonidos, fotos, gráficos, vídeos, noticias u otros materiales incluidos en el mismo, es exclusiva del Usuario que lo almacena o publica salvo en los casos previstos expresamente en la Ley.

La inclusión de enlaces en los Servicios no presupone ninguna relación, recomendación o supervisión por parte de Wikiloc con la página de destino y, por tanto, Wikiloc no acepta ninguna responsabilidad por su contenido, salvo en los casos previstos expresamente en la Ley.

6. PROPIEDAD INTELECTUAL E INDUSTRIAL
Todos los derechos de propiedad industrial e intelectual sobre el Sitio Web, las Aplicaciones, los Servicios, su diseño gráfico y código fuente, así como sobre los distintos elementos incluidos en los mismos (a título enunciativo: textos, imágenes, animaciones, bases de datos, gráficos, logos, marcas, signos distintivos, iconos, botones, fotografías, videos, grabaciones sonoras, etc.) pertenecen o están licenciados a Wikiloc.

En particular y sin que suponga limitación alguna a lo establecido en el párrafo anterior, Wikiloc ostenta un derecho "sui generis" como fabricante de la base de datos constituida por todo el contenido del Sitio Web y de las Aplicaciones en los términos establecidos en los artículos 133 y siguientes del Texto Refundido de la Ley de Propiedad Intelectual. En virtud de dicho derecho Wikiloc prohíbe la extracción y/o reutilización de la totalidad o de una parte sustancial del contenido del Sitio Web y de las Aplicaciones, evaluada cualitativa o cuantitativamente. Asimismo Wikiloc prohíbe la extracción y/o reutilización repetidas o sistemáticas de partes no sustanciales del contenido del Sitio Web y de las Aplicaciones cuando supongan actos contrarios a una explotación normal de dicha base o que causen un perjuicio injustificado a los intereses legítimos de Wikiloc.

El Usuario está autorizado únicamente a acceder y usar el Sitio Web, las Aplicaciones y los Servicios y efectuar descargas de sus contenidos para un mero uso personal y no comercial o colectivo. Salvo en aquellos supuestos en los que esté expresamente autorizado, queda expresamente prohibido al Usuario la reproducción o distribución para otros fines, así como la transformación, realización de obras derivadas de cualquier tipo, comunicación pública, puesta a disposición, extracción, reutilización o cualquier uso del Sitio Web, de las Aplicaciones o de los Servicios o de cualquiera de sus partes.

El Usuario seguirá siendo titular de los derechos sobre el Contenido del Usuario que almacene o publique a través de los Servicios de conformidad con la Condición Cuarta anterior. En particular, el Contenido del Usuario almacenado o publicado por el Usuario en relación con una Ruta o un Punto de Interés de su titularidad constituirá una unidad de contenido, que se ofrece de forma conjunta e inseparable (excepto en lo que respecta a descargas en GPS), y los derechos de propiedad intelectual sobre todo ello pertenecen a dicho Usuario.

Cuando almacene o publique cualquier Contenido del Usuario, el Usuario otorga a Wikiloc, que acepta, una licencia no exclusiva, gratuita, con facultad de sublicenciar a cualquier tercero, con un ámbito territorial mundial, durante todo el periodo de vigencia reconocido a los mismos en virtud de la normativa aplicable, para:

Acceder, usar, alojar, reproducir, modificar, transformar, actualizar, traducir, publicar, distribuir, borrar, incorporar o poner a disposición el Contenido del Usuario, en todo o parte, a través del Sitio Web, de las Aplicaciones o de los Servicios o a través de sitios de terceros con los que Wikiloc acuerde la publicación y puesta a disposición del Contenido del Usuario, como por ejemplo Google Earth.
La adaptación y realización de obras derivadas a partir del Contenido del Usuario.
El uso del Contenido del Usuario en relación con otros contenidos.
La realización de las actividades técnicas o de mantenimiento necesarias para el cumplimiento de lo anterior.
El Usuario garantiza que es titular de todos los derechos necesarios sobre el Contenido del Usuario para su almacenamiento y publicación a través de los Servicios y para el otorgamiento de la licencia anterior o que ha obtenido todos las transmisiones de derechos, licencias, permisos o consentimientos.

Asimismo, cuando así resulte de las condiciones marcadas por el Usuario en el procedimiento de registro o en la gestión de su cuenta, el Usuario autoriza a Wikiloc a publicar y a usar de conformidad con estas Condiciones toda la información relativa a su cuenta que el Usuario haya aceptado publicar. El Usuario reconoce que su nombre de usuario será público en todo caso.

7. LICENCIA DE USO DE LAS APLICACIONES
Wikiloc autoriza al Usuario a descargar y usar las Aplicaciones únicamente en virtud de la presente licencia. Wikiloc se reserva todos los derechos relativos a las Aplicaciones que no sean otorgados al Usuario de manera expresa en la presente licencia. Las condiciones de esta licencia regulan cualquier actualización proporcionada por Wikiloc que reemplace o complemente las Aplicaciones originales, a menos que dicha actualización se acompañe por una licencia separada, en cuyo caso serán aplicables las condiciones de esa licencia.

Wikiloc otorga al Usuario una licencia no transferible para descargar y usar las Aplicaciones, en código objeto únicamente, en un dispositivo propiedad o controlado por el Usuario y solo para las finalidades y usos autorizados por estas Condiciones. Esta licencia no permite al Usuario usar las Aplicaciones en cualquier dispositivo que no sea de su propiedad o que no esté bajo su control.

El Usuario no distribuirá o pondrá las Aplicaciones a disposición del público por medio de redes donde puedan ser usadas por varios dispositivos al mismo tiempo. El Usuario no alquilará, venderá, distribuirá, comunicará al público o sublicenciará las Aplicaciones. El Usuario no copiará (excepto en la medida expresamente autorizada por esta licencia), descompilará, efectuará actuaciones de ingeniería inversa, desensamblará, intentará obtener el código fuente, modificará o creará obras derivadas de las Aplicaciones, de sus actualizaciones o de cualquier parte de las mismas (salvo y sólo en la medida en que dicha restricción sea prohibida por la ley aplicable o por las condiciones de licencia que regulen cualquiera de los componentes de código abierto incluidos en las Aplicaciones). Cualquier intento de llevar a cabo las actuaciones anteriores es una violación de los derechos de Wikiloc y sus licenciantes.

El Usuario acepta que Wikiloc pueda recoger y usar determinados datos técnicos e información (incluyendo, sin limitación, información técnica) sobre el dispositivo, sistema y software del Usuario y sus periféricos, de forma periódica para facilitar el suministro de actualizaciones de software, mantenimiento y otros servicios relacionados con las Aplicaciones. Wikiloc podrá usar esta información, siempre que esté disociada, para mejorar sus productos o proporcionar servicios o tecnologías al Usuario.

Esta licencia podrá ser terminada por Wikiloc o el Usuario. Los derechos del Usuario bajo esta licencia terminarán automáticamente sin preaviso si el Usuario incumple cualquiera de las condiciones de la licencia. A la terminación de la licencia, el Usuario cesará todo uso de las Aplicaciones y destruirá todas las copias, totales o parciales, de las mismas.

En la medida permitida por la normativa aplicable, las Aplicaciones se proporcionan "como son" y "como están disponibles", con todos sus defectos y sin garantía de ningún tipo y Wikiloc rechaza cualquier garantía con respecto a las Aplicaciones, ya sean expresas, implícitas o legales, incluyendo sin limitación garantías de comerciabilidad, calidad satisfactoria o validez para un fin determinado. En caso de que las Aplicaciones resulten defectuosas, el Usuario asume todo los costes de los servicios, reparaciones y correcciones necesarias, en la medida permitida por la legislación aplicable.

Condiciones para Wikiloc Seguimiento en Vivo
El Usuario entiende que a través de la función de Seguimiento en Vivo puede invitar a otra persona a visualizar la ruta que está realizando y su última ubicación en un mapa. Tras la aceptación de la invitación el Usuario será notificado de que el invitado "te está siguiendo". El Usuario entiende y acepta que Wikiloc no garantiza de ninguna manera que el invitado continua seguiendo la ubicación del Usuario y entiende que el Usuario no será notificado si el invitado deja de seguirle. Asimismo, el Usuario acepta que la ubicación del Usuario es aproximada en términos de posición y de tiempo y mientras Wikiloc se esfuerza por actualizar la ubicación con regularidad, Wikiloc no se hace responsable de la exactitud de la ubicación del Usuario ni de la disponibilidad de los servicios telecomunicaciones de terceros en que la funcionalidad se basa para transmitir los datos. La Aplicacion y los Servicios incluyendo, sin limitación, Wikiloc Seguimiento en Vivo no son una medida de seguridad y no deben ser utilizados en una possible situación de vida o muerte. Además, el Usuario acepta y entiende los riesgos asociados con compartir su ubicación con terceros.

Condiciones para los Mapas Offline de Wikiloc y estilos ("mapas")
Hemos creado los mapas como "Collective/Produced Work" con datos de base de OpenStreetMap, NASA Shuttle Radar Topography Mission (SRTM) y viewfinderpanoramas. Los mapas son copyright de Wikiloc, los datos de mapa copyright de OpenStreetMap y contribuidores, los datos SRTM son de dominio público y los datos de viewfinderpanoramas están sujetos a los términos de uso establecidos en su página web.

Los mapas son gratuitos para todos los usuarios de Wikiloc cuando se usen en la App de Wikiloc. Se prohibe, sin permiso por escrito por parte de Wikiloc, enlazar directamente a los mapas en servidores de Wikiloc, incluir los mapas en productos o aplicaciones o cualquier uso comercial.

Condiciones específicas para el servicio de traducciones
El Sitio Web y las Aplicaciones ofrecen un servicio de traducción para que las Rutas y Puntos de Interés y otro Contenido del Usuario estén disponibles en idiomas adicionales. Dicho servicio se ofrece únicamente para la comodidad del Usuario y utiliza el software de traducción de Google Translate. Se realizan esfuerzos razonables para facilitar una traducción correcta. No obstante, ninguna traducción automatizada es perfecta ni pretende sustituir a los traductores humanos. Las traducciones se facilitan como un servicio a Usuarios del Sitio Web y de las Aplicaciones y se proporcionan “como son”. No se otorga ninguna garantía, ni expresa ni implícita, respecto de la exactitud, fiabilidad o corrección de cualquier traducción. Algún contenido (como las imágenes, vídeos, Flash, etc…) podrá no traducirse de manera correcta como consecuencia de las limitaciones del software de traducción.

El idioma original del contenido traducido será aquel en el que lo haya publicado el Usuario autor del mismo en el Sitio Web o en las Aplicaciones. Cualquier discrepancia o diferencia creada en la traducción no es vinculante y no tiene efecto legal alguno a efectos de cumplimiento o ejecución de una obligación. Si tiene cualquier pregunta en relación con la exactitud de la información incluida en la traducción, por favor, vaya a la versión original del contenido publicado por el Usuario autor del mismo en el Sitio Web o de las Aplicaciones.

ESTE SERVICIO PUEDE INCLUIR TRADUCCIONES EFECTUADAS A TRAVÉS DE GOOGLE. GOOGLE RECHAZA CUALQUIER GARANTÍA EN RELACIÓN CON LAS TRADUCCIONES, YA SEA EXPRESA O IMPLÍCITA, INCLUYENDO CUALQUIER GARANTÍA DE EXACTITUD, FIABILIDAD O CUALQUIER GARANTÍA IMPLÍCITA DE COMERCIALIBIDAD, VALIDEZ PARA UNA FINALIDAD ESPECÍFICA O AUSENCIA DE INFRACCIONES.

Condiciones específicas para la impresión de informaciones de rutas con código QR
Los Usuarios registrados en los Servicios podrán disfrutar de una funcionalidad que les permite descargar un archivo PDF con información de una ruta disponible en los Servicios, accesible a través de un código QR y con la identificación del Usuario que efectúa la descarga.

El Usuario será el único responsable del uso que realice del citado archivo, debiendo evitar su impresión, distribución y difusión de cualquier forma que incumpla cualquier normativa aplicable o vulnere cualquier derecho de Wikiloc o de terceros. Desde Wikiloc animamos a los Usuarios a que hagan un uso responsable de esta funcionalidad y eviten cualquier tipo de actividad que genere molestias a terceros.

Condiciones específicas para Aplicaciones en dispositivos Apple
La licencia de uso de las Aplicaciones se formaliza entre Wikiloc y el Usuario, sin que Apple sea parte de la misma. Wikiloc, y no Apple, es el único responsable de las Aplicaciones y su contenido.

Las Aplicaciones se deben usar conforme a los reglas de uso establecidas en las Condiciones Generales de App Store (en adelante, las "Reglas de Uso").

El Usuario y Wikiloc reconocen que Apple no tiene ninguna obligación de proporcionar mantenimiento en relación con las Aplicaciones.

Apple no es responsable de ninguna garantía, expresa, implícita o legal, sobre las Aplicaciones. En caso de que las Aplicaciones no cumplan cualquier garantía aplicable, el Usuario podrá notificar a Apple y Apple le reembolsará el precio de adquisición de las Aplicaciones, sin que, en la medida permitida por la normativa aplicable, Apple tenga ninguna otra garantía o responsabilidad al respecto y, en su caso, cualquier reclamación, perdidas, daños, perjuicios, costes o gastos derivados de ese incumplimiento de la garantía aplicable será responsabilidad de Wikiloc, con las limitaciones establecidas en estas Condiciones.

Las Partes reconocen que, en la medida aplicable y con las limitaciones establecidas en estas Condiciones, Wikiloc y no Apple es responsable de cualquier reclamación del Usuario o de terceros en relación con la Aplicación o con la posesión o uso de las Aplicaciones por el Usuario, incluyendo, sin limitación, reclamaciones de responsabilidad por producto defectuoso, reclamaciones por el incumplimiento de cualquier normativa por las Aplicaciones o reclamaciones de conformidad con la normativa que protege a consumidores o similares. Las Partes reconocen que, en caso de que cualquier tercero reclame que la Aplicación y la posesión o uso de las Aplicaciones por el Usuario infringen derechos de propiedad intelectual e industrial de terceros, Wikiloc y no Apple, será la única responsable de la investigación, defensa, acuerdo y descargo de dichas reclamaciones, en todo caso con las limitaciones establecidas en estas Condiciones.

Apple y las empresas de su grupo son terceros beneficiarios de esta licencia y, con la aceptación de la licencia por el Usuario, Apple tendrá derecho a hacer cumplir la licencia al Usuario.

El Usuario garantiza que no está localizado en países bajo embargo de Estados Unidos y no es una persona incluida en las listas de sujetos prohibidos por el Departamento del Tesoro de Estados Unidos así como que no usará las Aplicaciones para finalidades prohibidas por la legislación de Estados Unidos.

8. MODIFICACIÓN O TERMINACIÓN DE LOS SERVICIOS
Wikiloc podrá, en cualquier momento y sin incurrir en ninguna responsabilidad, variar el contenido del Sitio Web, de las Aplicaciones o los Servicios, interrumpir la prestación de todos o algunos de los Servicios y funcionalidades o desactivar o borrar todas o algunas de las cuentas, sin más limitación que las establecidas por las leyes aplicables sobre la obligación de mantener registros de determinadas operaciones durante los plazos legales correspondientes.

9. GENERALIDADES Y DATOS DE CONTACTO
El uso del Sitio Web, de las Aplicaciones y de los Servicios se rige por la ley española.

En el caso de que alguna de las disposiciones contenidas en las presentes Condiciones sea declarada nula, se procederá a su retirada o sustitución. En cualquier caso, dicha declaración de nulidad no afectará la validez del resto de disposiciones recogidas en las presentes Condiciones.

Wikiloc está inscrita en el Registro Mercantil de Girona, al tomo 2709, folio 155, hoja número GI-47726, con N.I.F. número B-55022115 y domicilio en Parc Cientific i Tecnologic de la Universitat de Girona, Edificio Giroempren – Despacho A2-02, C/Pic de Peguera, 15, Girona, España. Puedes ponerte en contacto con Wikiloc en la dirección de correo electrónico support@wikiloc.com.

 

 

Condiciones de venta
Las presentes condiciones de venta (en adelante, las “Condiciones de Venta”) regulan la comercialización por parte de Wikiloc Outdoor, S.L. (en adelante “Wikiloc”) de productos y/o servicios a través de su tienda (en adelante, la “Tienda”) en el sitio web ubicado en la dirección https://www.wikiloc.com (en adelante, el “Sitio Web”) en cualquier aplicación móvil publicada por Wikiloc (en adelante, las "Aplicaciones").

Estas Condiciones de Venta regulan las relaciones entre Wikiloc y el usuario particular de la Tienda (en adelante, el “Usuario”) en la compra de los productos y/o servicios ofrecidos en la Tienda (en adelante, los “Productos y Servicios”).

El Usuario se compromete a leer estas Condiciones de Venta con anterioridad a realizar cualquier pedido en la Tienda. Consideraremos que, al completar el proceso de compra establecido en la Tienda, el Usuario habrá leído y aceptado, sin reservas, las presentes Condiciones de Venta.

Wikiloc puede modificar en cualquier momento las presentes Condiciones de Venta. Cada compra se rige por las Condiciones de Venta aplicables en la fecha del pedido. La fecha al inicio de las presentes Condiciones de Venta indica la fecha de su última revisión, que será aplicable desde su publicación.

Salvo que se establezca expresamente lo contrario, las presentes Condiciones de Venta no limitan las Condiciones que regulan el acceso y uso del Sitio Web y de las Aplicaciones, que resultan igualmente de aplicación al Usuario. Asimismo, en lo que respecta a la recogida y uso de datos personales, resulta de aplicación la Política de Privacidad.

Las Condiciones de Venta están disponibles en inglés y español.

Estas Condiciones de Venta están disponibles para el Usuario con carácter previo a la realización de cualquier pedido, y pueden ser almacenadas o reproducidas en un soporte duradero.

1. LOS PRODUCTOS Y SERVICIOS
Los Productos y Servicios disponibles a la venta se ofrecen en la Tienda donde se incluye la información relativa a los Productos y Servicios y su precio.

Wikiloc podrá decidir en cada momento la oferta de Productos y Servicios en la Tienda, ofreciendo nuevos Productos y Servicios (a los que, salvo que se establezca otra cosa, resultan de aplicación estas Condiciones de Venta) o dejando de ofrecer cualquiera de los Productos y Servicios hasta entonces ofrecidos en la Tienda.

Si el Usuario desea adquirir un Producto o Servicio solo tiene que seguir las indicaciones que aparezcan en la Tienda resultándole de aplicación cualquier condición o término que se muestre durante el proceso de contratación del Producto o Servicio concreto.

2. PRECIOS Y FACTURACIÓN
Los precios de los Productos y Servicios se muestran en la Tienda en euros (salvo que se especifique otra moneda en relación a una transacción) e incluyen, en su caso, el Impuesto sobre el Valor Añadido aplicable a la transacción en función del lugar de entrega y residencia del Usuario. Los precios no incluyen los gastos de envío, que correrán a cargo del Usuario. Los gastos de envío de cada pedido se calculan en tiempo real en función de parámetros como el peso y las dimensiones de la cesta de compra del Usuario, así como de su dirección de entrega. Se informará al Usuario del precio final de su compra, incluyendo el transporte de la misma de forma diferenciada, antes de realizar la validación del pago.

Wikiloc se reserva el derecho a modificar los precios de los Productos y Servicios en cualquier momento, si bien aplicará el precio en vigor en la Tienda en el momento de la realización del pedido por el Usuario.

Antes de confirmar el pedido y finalizar el proceso de contratación, se informará al Usuario del precio final completo, incluyendo los gastos aplicables. No obstante, el Usuario será siempre el único responsable de cualquier arancel o impuesto a la importación que pudiera resultar de aplicación para la recepción del Producto o Servicio siendo de su exclusiva responsabilidad el averiguar los aranceles y/o impuestos s la importación que le pueden resultar de aplicación antes de realizar una compra en la Tienda.

3. REGISTRO
Para efectuar su pedido, el Usuario deberá entrar como usuario del Sitio Web o de las Aplicaciones, mediante su usuario y contraseña. Si no es usuario del Sitio Web o de las Aplicaciones, el Usuario deberá registrarse. A continuación, para proceder al pedido, el Usuario deberá facilitar la información que se le solicite durante el proceso, tales como dirección de entrega y/o facturación y número de identificación fiscal, siguiendo las instrucciones que aparezcan en la pantalla.

4. PAGO
El Usuario puede pagar los Productos y Servicios que desea adquirir con tarjeta de crédito Visa o Mastercard o por PayPal. Para efectuar el pago, el Usuario deberá seguir las instrucciones que aparezcan en pantalla.

Si el Usuario paga con tarjeta de crédito, el Usuario deberá facilitar los datos de la tarjeta. El pago con tarjeta de crédito se realiza a través del sistema de seguridad "Secure Socket Layer", que codifica sus datos bancarios cuando son transmitidos por internet.

Si el Usuario paga por Paypal, deberá seguir las instrucciones indicadas en pantalla.

Los Productos y Servicios no serán enviados hasta que se haya recibido el pago o haya sido autorizado por la entidad financiera correspondiente.

5. CONFIRMACIÓN
Al finalizar el pedido, se ofrecerá el resumen del mismo, para que pueda ser revisado por el Usuario antes de su aceptación. Una vez aceptado el pedido por el Usuario, una pantalla o correo electrónico confirmará la tramitación correcta del pedido. Adicionalmente, el Usuario podrá acceder al histórico de las operaciones realizadas en la Tienda accediendo a la sección correspondiente de su cuenta en la tienda o de su perfil de Usuario dentro del Sitio Web o de las Aplicaciones.

Asimismo, en el plazo más breve posible y no más tarde veinticuatro (24) horas tras aceptar el pedido, en cumplimiento de lo previsto en la Ley de Servicios de la Sociedad de la Información, se remitirá por correo electrónico al Usuario un acuse de recibo a la dirección señalada en el pedido.

En relación a determinadas transacciones, Wikiloc enviará la factura al Usuario de forma automática por correo electrónico. En otras ocasiones se incluirá copia física de la factura con el producto enviado. En cualquier caso, cualquier Usuario podrá solicitar la correspondiente factura mediante correo electrónico dirigido a support@wikiloc.com.

6. ENVÍO Y PLAZOS DE ENTREGA DE PRODUCTOS FÍSICOS
Los Productos y Servicios que sean productos físicos (en adelante “Productos Físicos”) y se ofrezcan en la Tienda solo podrán enviarse a los países que se muestren como disponibles para entrega durante el proceso de compra. No se aceptarán pedidos de Productos Físicos a direcciones fuera de dichos territorios. Si tu país no está entre los disponibles para entrega puedes ponerte en contacto con nosotros en support@wikiloc.com para recibir más información.

Wikiloc se obliga a entregar los Productos Físicos en el domicilio señalado en el pedido en un plazo máximo de: (i) treinta (30) días naturales a partir de la fecha de pago del pedido cuando en el momento de la adquisición se hayan identificado como disponible “en stock” o similar el Producto Físico correspondiente; (ii) sesenta (60) días en relación a los pedidos que se hayan identificado claramente por Wikiloc como productos no disponibles o en "reposición"; (iii) el plazo de entrega específico que haya sido aceptado expresamente por el Usuario durante el proceso de compra y antes de formalizar la misma aunque distinto del establecido en los apartados (i) y (ii) anteriores.

Si un Producto Físico objeto de un pedido no se entrega en el plazo acordado, el Usuario podrá desistir del contrato y solicitar la devolución del importe pagado por dicho Producto Físico.

Al recibir el Producto Físico, el Usuario debe verificar que es conforme con su pedido y está en perfecto estado. Si no estuviera de acuerdo con el Producto Físico entregado o su estado, deberá indicar las anomalías en el albarán de entrega del transportista. Además, el Usuario deberá comunicar su reclamación a través de un correo electrónico dirigido a support@wikiloc.com dentro de las veinticuatro (24) horas siguientes a la recepción del Producto Físico.

Wikiloc no se hace responsable de un retraso o pérdida del envío causado por personas ajenas al contrato de transporte, por el Usuario o por fuerza mayor.

7. DESISTIMIENTO Y DEVOLUCIONES
En relación a los Productos Físicos, el Usuario dispone de catorce (14) días hábiles desde la recepción para resolver la compra y devolver el Producto Físico con el que no esté satisfecho, sin justificación ni penalización alguna. Para ello, el Usuario deberá comunicar su desistimiento a Wikiloc, mediante un correo electrónico a (conforme se indica a continuación), identificando en el asunto “Devolución”, e indicando en el correo, simplemente, su intención de devolver el Producto Físico, sus datos de contacto y la identificación del pedido. A continuación, deberá remitir el Producto Físico a la dirección de Wikiloc, junto con la factura, corriendo de su cuenta los gastos de dicha devolución. El Producto Físico devuelto deberá estar en perfectas condiciones, en su embalaje original, con todos sus manuales y accesorios. El Usuario será responsable de los posibles daños que sufriera el Producto Físico durante el transporte. Tras comprobarse el cumplimiento de esas condiciones, Wikiloc procederá al reembolso del importe en un plazo máximo de 30 días, abonado en la modalidad de pago en que el Usuario haya abonado el Producto Físico.

El derecho de desistimiento no será aplicable a los servicios de búsqueda y descarga de rutas y puntos de interés a dispositivos móviles iniciada desde aplicaciones móviles, en la medida en que la prestación del servicio se inicia de forma simultanea con su adquisición. Igualmente no será aplicable a Productos y Servicios personalizados o confeccionados conforme a especificaciones del Usuario; que, por su naturaleza, no puedan ser devueltos o puedan deteriorarse o caducar con rapidez; así como a grabaciones sonoras o de vídeo, de discos y de programas informáticos que hubiesen sido desprecintados por el Usuario; y ficheros informáticos, suministrados por vía electrónica, susceptibles de ser descargados o reproducidos con carácter inmediato para su uso permanente.

Lo anterior se establece sin perjuicio de las garantías legales establecidas en el Real Decreto Legislativo 1/2007.

8. GENERALIDADES Y DATOS DE CONTACTO
En el caso de que alguna de las disposiciones contenidas en las presentes Condiciones de Venta sea declarada nula, se procederá a su retirada o sustitución. En cualquier caso, dicha declaración de nulidad no afectará la validez del resto de disposiciones recogidas en las presentes Condiciones de Venta.

Wikiloc está inscrita en el Registro Mercantil de Girona, al tomo 2709, folio 155, hoja número GI-47726, con N.I.F. número B-55022115 y domicilio en Parc Cientific i Tecnologic de la Universitat de Girona, Edificio Giroempren – Despacho A2-02, C/Pic de Peguera, 11, Girona, España. Puedes ponerte en contacto con Wikiloc en la dirección de correo electrónico support@wikiloc.com

9. CONDICIONES PARTICULARES DE CONTRATACIÓN DE SUSCRIPCIONES
Actualizadas a diciembre 2018
1.Objeto

Las presentes condiciones particulares (en adelante, las “Condiciones”) regulan y resultarán de aplicación a la adquisición de cualquier suscripción (en adelante, la “Suscripción”) a través de la Tienda. A través de la Suscripción el Usuario puede acceder a funcionalidades extra, no disponibles en la versión gratuita del servicio Wikiloc.

Se considerará que, al completar el proceso de compra de una Suscripción, el Usuario habrá leído y aceptado, sin reservas estas Condiciones.

Estas Condiciones se aplican con carácter adicional a las Condiciones de Uso y a la Política de Privacidad y a las Condiciones de Venta, las cuales resultan de aplicación a todo lo no regulado en estas Condiciones. En caso de discrepancia en relación con las cuestiones específicamente reguladas en estas Condiciones, prevalecerán las presentes Condiciones.

2.Contratación de la Suscripción pago y facturación

Para adquirir una Suscripción, el Usuario deberá completar el procedimiento de contratación en la Tienda y seguir los pasos e instrucciones establecidos a tal efecto.

Las Suscripciones disponibles se ofrecen en la Tienda donde se incluye la información relativa a las mismas y a sus condiciones (incluyendo, a modo enunciativo, su duración), así como al precio. Wikiloc podrá modificar en cualquier momento la oferta de Suscripciones, ofreciendo nuevas Subscripciones (a las que, salvo que se establezca otra cosa, resultan de aplicación estas Condiciones) o dejando de ofrecer cualquier Subscripción.

La Suscripción podrá incluir un periodo de prueba gratuito que permite el acceso y uso gratuito de las funcionalidades extra por el Usuario durante ese periodo. Una vez finalizado el periodo de prueba, con efectos desde el día siguiente la Suscripción entrará en vigor a la tarifa aplicable y se cobrarán las cantidades correspondientes.

El Usuario deberá pagar su Suscripción en las condiciones indicadas en la Tienda. El pago en las Aplicaciones se efectuará a través de las cuentas en las plataformas Google Play o Apps Store a través de las cuales se proporciona la Aplicación. Las condiciones de servicio establecidas en las citadas plataformas (https://play.google.com/about/play-terms.html y https://www.apple.com/legal/internet-services/itunes/es/terms.html) (en adelante, las “Condiciones de las Plataformas”) resultan de aplicación igualmente a la Suscripción. Al ordenar la Suscripción, el Usuario autoriza a Wikiloc a cobrar el precio correspondiente a través del medio de pago elegido. La Suscripción no estará activa hasta que se haya recibido el pago o haya sido autorizado por la entidad financiera correspondiente. Desde ese momento, la Suscripción se mantendrá en vigor por el periodo contratado por el Usuario.

Las Suscripciones se renovarán automáticamente y de manera sucesiva al vencimiento de su plazo, conforme a lo establecido en las Condiciones de las Plataforma.

Wikiloc podrá modificar el precio de la Suscripción aplicable a la renovación, siempre que lo notifique al Usuario con una antelación de, al menos, un mes a la fecha de aplicación.

El Usuario puede contratar otra Suscripción en cualquier momento a través de la cuenta, en cuyo caso se cancelará la renovación automática de la Suscripción anterior y entrará en vigor la nueva Suscripción al vencimiento de la Suscripción anterior.

Las Suscripciones tienen carácter personal sin que se puedan transferir a terceros ni permitir su uso por terceros diferentes del Usuario (incluyendo en el concepto terceros, a estos efectos, a entidades vinculadas o pertenecientes al mismo grupo de empresas).

3. Desistimiento

De conformidad con la normativa de consumidores, el Usuario tiene derecho a desistir de su Suscripción durante los primeros catorce (14) días desde su activación de conformidad con lo establecido en las Condiciones de las Plataforma.

10. CONDICIONES PARTICULARES DE CONTRATACIÓN DEL SERVICIO DE PUNTOS DE INTERÉS INTERACTIVOS EN WIKILOC
Actualizadas a febrero 2016
1. Objeto

Las presentes condiciones particulares (en adelante, las “Condiciones”) rigen la contratación entre el usuario (el “Usuario”) y Wikiloc Outdoor, S.L. (“Wikiloc”) dentro del portal https://www.wikiloc.com y sus subdominios (“Website”) del servicio de puntos de interés interactivos difundido a través del Website (“Servicios”). La contratación de los Servicios permite al Usuario realizar la publicidad de sus productos, servicios o actividades (la “Publicidad”) a los usuarios del Website.

Estas Condiciones se aplican con carácter adicional a las Condiciones de Uso y a la Política de Privacidad. En caso de discrepancia, y en relación a las cuestiones específicamente reguladas en estas Condiciones prevalecerán las presentes Condiciones. Adicionalmente, los derechos reconocidos a los usuarios en las Condiciones de Uso que se correspondan con derechos de consumidores finales no renunciables no serán aplicables al Usuario.

La contratación de los Servicios por el Usuario supone que ha leído, aceptado y se somete a la última versión de estas Condiciones que este vigente en el momento de la contratación. Los Servicios no están disponibles para personas físicas actuando como consumidor o usuario final por lo que al usar los Servicios reconoce no tener dicha condición. Para contratar los Servicios, el Usuario debe estar registrado como usuario de Wikiloc y encontrarse plena y legítimamente capacitado para representar al negocio objeto de la Publicidad.

Wikiloc podrá modificar o suprimir los Servicios en cualquier momento.

Los Servicios consistirán en:

Mostrar un icono, en la posición identificada por el Usuario durante el proceso de contratación de los Servicios, que será visible en los mapas de las rutas de Wikiloc para los usuarios del Website (siempre y cuando el usuario de Wikiloc haya activado previamente la opción de ver esa categoría de servicio en sus preferencias);
El icono será interactivo, abriéndose un formulario al pinchar el icono que permitirá al usuario de Wikiloc contactar con el Usuario que proporciona el servicio, producto o actividad mediante los datos de contacto proporcionados por el propio Usuario durante el proceso de contratación de los Servicios;
Los Servicios no son accesibles para los usuarios de las aplicaciones móviles de Wikiloc.

De forma discrecional, Wikiloc podrá ofrecer al Usuario por un tiempo limitado, un widget que se podrá insertar en la web del Usuario en el que aparecerá un mapa con las rutas cercanas a su ubicación. El widget se proporciona “tal cual” sin garantía de ningún tipo y su uso se encuentra sometido a las limitaciones de responsabilidad establecidas en estas Condiciones.

2. Protección de datos personales recabados durante la contratación del servicio

Durante el proceso de contratación, el Usuario deberá proporcionar datos sobre la ubicación del negocio, nombre, dirección, NIF, web, email de contacto, teléfono de contacto y fotos. Esa información tiene por objeto: (i) permitir la difusión de la Publicidad y el contacto de usuarios de Wikiloc con el Usuario que publicita el producto, servicio o la actividad; y (ii) permitir la facturación del servicio por Wikiloc. Los datos de contacto incluidos por el Usuario serán accesibles para cualquier usuario de Wikiloc.

El Usuario se compromete a proporcionar la información que se exige para la contratación de los Servicios y a que ésta sea veraz, completa y actualizada.

Esta información se añadirá al resto de información asociada al Usuario y estarán disponibles en su perfil de usuario de Wikiloc, dentro de la pestaña de “Tus productos”, pudiendo modificarse siempre que se quiera y estando sometida, en lo no previsto en este apartado y en la medida en que tenga la consideración de datos de carácter personal, a la Política de Privacidad.

3. Contratación de los Servicios pago y facturación

Para contratar los Servicios, el Usuario deberá completar el formulario de contratación en la web de Wikiloc y seguir los pasos e instrucciones establecidos a tal efecto.

El Usuario acepta expresamente que Wikiloc no vendrá obligada a poner a disposición del Usuario la información previa a la contratación ni a confirmar la recepción de la aceptación que se establece en los artículos 27.1 y 28.1 de la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y de comercio electrónico (“LSSI”) en virtud de lo establecido en los artículos 27.2 y 28.3 de la LSSI.

Wikiloc confirmará la contratación y sus términos mediante el envío de un correo electrónico a la dirección proporcionada por el Usuario.

El Usuario podrá descargar la factura desde su perfil de usuario en Wikiloc.

Precio y forma de pago

A los Servicios resultarán de aplicación los precios que se indiquen en el formulario de contratación. Salvo que se indique lo contrario, los precios mostrados al Usuario antes de la contratación incluirán el IVA aplicable en cada momento y en función de la residencia y las circunstancias del cliente. Wikiloc podrá solicitar la información que considere conveniente para acreditar cualquier extremo que sea relevante a efectos de la aplicación del IVA en las facturas emitidas. Es responsabilidad exclusiva del Usuario el conocer y liquidar las tasas e impuestos correspondientes en su país de residencia u origen.

El Usuario puede pagar los Productos y Servicios que desea adquirir con tarjeta de crédito Visa o Mastercard o por PayPal.

4. Condiciones de la Publicidad

El Usuario garantiza que:

La Publicidad no infringe ni infringirá derechos de terceros (en particular, derechos de imagen, honor o intimidad, derechos de propiedad intelectual o industrial, o secretos industriales) ni incumple ni incumplirá ninguna normativa aplicable, en particular, la normativa publicitaria o la relativa a competencia desleal, protección de consumidores y usuarios, protección de datos personales, derecho al honor, a la intimidad y a la propia imagen y protección al menor y a la infancia. La Publicidad no será contraria a la moral o al orden público.
La Publicidad no incluirá información de carácter personal de ningún tercero.
La Publicidad se refiere a un negocio que cumple con toda la normativa aplicable y que cuentas con los permisos y autorizaciones correspondientes.
Wikiloc podrá rechazar en cualquier momento y por cualquier causa la Publicidad, si en opinión de Wikiloc va en contra de la letra o espíritu de estas Condiciones, no obstante Wikiloc no tendrá ninguna obligación de controlar o supervisar el contenido de la Publicidad y por tanto esta facultad no limita en forma alguna las garantías otorgadas por el Usuario en virtud de esta Cláusula.

Wikiloc no garantiza el éxito ni la rentabilidad económica de los Servicios.

5. Responsabilidad del Usuario

El Usuario es responsable civil y penal de la Publicidad y de los contratos que formalice como consecuencia de la misma con los usuarios de Wikiloc. El Usuario se compromete a indemnizar y mantener indemne a Wikiloc, de todos los gastos, costes, perjuicios y pérdidas de cualquier tipo (incluyendo honorarios de abogados y procuradores, aunque su intervención no sea preceptiva) en que incurra Wikiloc como consecuencia de cualquier reclamación de cualquier usuario de Wikiloc que contrate los servicios del Usuario. Igualmente, el Usuario mantendrá indemne a Wikiloc de cualquier responsabilidad derivada de un incumplimiento de las garantías sobre la Publicidad o de cualquier obligación establecida en estas Condiciones.

6. Responsabilidad de Wikiloc por los Servicios.

Sin perjuicio de las limitaciones de responsabilidad establecidas en las Condiciones de Uso, Wikiloc no garantiza que los Servicios serán ininterrumpidos, seguros, temporáneos, libres de errores, exactos, confiables, de una calidad o fiabilidad determinada, que cualquier error será corregido.

El Usuario reconoce y acepta que es su responsabilidad exclusiva comprobar las funcionalidades de los Servicios con carácter previo a su contratación así como su idoneidad para atender a sus necesidades.

La máxima responsabilidad de Wikiloc bajo el contrato con el Usuario, será la devolución al Usuario de la remuneración recibida de ese Usuario en relación a los Servicios. EXCEPTO EN LOS CASOS DE ACTUACIÓN DOLOSA, WIKILOC NO SERÁ RESPONSABLE DE NINGÚN DAÑO O PERJUICIO DE CUALQUIER NATURALEZA QUE SE GENERE AL USUARIO EN RELACIÓN CON LOS SERVICIOS, EXCEPTO EN LOS TÉRMINOS EXPRESAMENTE ESTABLECIDOS EN ESTA CLÁUSULA.

7. Resolución

Wikiloc podrá dejar de prestar los Servicios unilateralmente si considera que, de cualquier forma, la Publicidad incumple estas Condiciones, bastando para ello la mera comunicación. El Usuario acepta que Wikiloc no incurrirá en ninguna responsabilidad con motivo de la resolución de la prestación de los Servicios en estos términos.

11. CONDICIONES PARTICULARES DE CONTRATACIÓN DEL SERVICIO DE CUENTAS ORG
Actualizadas a febrero de 2017
1. Objeto

Las presentes condiciones particulares (en adelante, las “Condiciones”) rigen la contratación entre el usuario que cumpla los requisitos establecidos en estas condiciones (el “Usuario”) y Wikiloc Outdoor, S.L. (“Wikiloc”) dentro del portal https://www.wikiloc.com y sus subdominios (“Website”), y dentro de sus aplicaciones móviles para Iphone y Android (“Aplicaciones”), de un servicio mediante el cual Wikiloc establece, un espacio propio de rutas del Usuario (plan ORG Básico) con la opción de promoción (Plan ORG Local y ORG Regional), en adelante (“Servicios”). La contratación de los Servicios permite al Usuario, en los términos establecidos en estas Condiciones, promocionar sus rutas a los usuarios de Wikiloc (la “Promoción”).

Estas Condiciones se aplican con carácter adicional a las Condiciones de Uso y a la Política de Privacidad. En caso de discrepancia, y en relación a las cuestiones específicamente reguladas en estas Condiciones prevalecerán las presentes Condiciones. Sin embargo, los derechos reconocidos a los usuarios en las Condiciones de Uso que se correspondan con derechos de consumidores finales no renunciables no serán aplicables al Usuario en la medida en que los Usuarios no son consumidores finales.

Para poder contratar los Servicios el Usuario deberá cumplir con todas las condiciones que se establezcan durante el proceso e contratación relativas a las actividades o naturaleza jurídica del Usuario y de los requisitos de las rutas objeto de la Promoción (e.g. número mínimo y contenido de las mismas).

La contratación de los Servicios por el Usuario supone que ha leído, aceptado y se somete a la última versión de estas Condiciones que esté vigente en el momento de la contratación y a los términos que se le hayan mostrado durante el proceso de contratación. Los Servicios no están disponibles para personas físicas actuando como consumidor o usuario final por lo que al usar los Servicios reconoce no tener dicha condición. Para contratar los Servicios, el Usuario debe estar registrado como usuario de Wikiloc.

Wikiloc podrá modificar o suprimir los Servicios en cualquier momento. En caso de supresión de los Servicios el Usuario no tendrá derecho a indemnización o compensación alguna más allá de la devolución de los importes que , en su caso, hubiese pagado por adelantado y no se hubiesen consumido a la fecha de supresión.

Los Servicios consistirán en:

Un espacio propio que se identificará con el nombre de la cuenta ORG del usuario en el cual estarán disponibles las rutas que el Usuario decida incluir.
Un espacio donde se presentarán estadísticas de la actividad que generan los usuarios sobre las rutas de la cuenta ORG.
En el caso de un plan ORG REGIONAL o ORG LOCAL, se destacará la cuenta ORG en los resultados de búsqueda en acorde con los criterios de búsqueda del usuario y la proximidad de la zona geográfica, habrá una limitación del número de veces que se destacará la cuenta en función del plan de precios y la periodicidad contratada.
2. Protección de datos personales recabados durante la contratación del servicio

Durante el proceso de contratación, el Usuario deberá proporcionar datos adicionales a los que se proporcionan para el registro como usuario de Wikiloc. Por ejemplo, nombre, dirección, NIF, web, email de contacto, teléfono de contacto y/o fotos. Esa información tiene por objeto permitir la gestión de los Servicios y la facturación de los mismos por Wikiloc.

El Usuario se compromete a proporcionar la información que se exige para la contratación de los Servicios y a que ésta sea veraz, completa y actualizada.

Esta información se añadirá al resto de información asociada al Usuario y estarán disponibles en su perfil de usuario de Wikiloc, dentro de la pestaña de “Tus productos”, pudiendo modificarse siempre que se quiera y estando sometida, en lo no previsto en este apartado y en la medida en que tenga la consideración de datos de carácter personal, a la Política de Privacidad.

3. Contratación de los Servicios pago y facturación

Para contratar los Servicios, el Usuario deberá completar el formulario de contratación en la web de Wikiloc y seguir los pasos e instrucciones establecidos a tal efecto.

El Usuario acepta expresamente que Wikiloc no vendrá obligada a poner a disposición del Usuario la información previa a la contratación ni a confirmar la recepción de la aceptación que se establece en los artículos 27.1 y 28.1 de la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y de comercio electrónico (“LSSI”) en virtud de lo establecido en los artículos 27.2 y 28.3 de la LSSI.

Wikiloc confirmará la contratación y sus términos mediante el envío de un correo electrónico a la dirección proporcionada por el Usuario.

El Usuario podrá descargar la factura desde su perfil de usuario en Wikiloc.

Precio y forma de pago

A los Servicios resultarán de aplicación los precios que se indiquen en el formulario de contratación. Salvo que se indique lo contrario, los precios mostrados al Usuario antes de la contratación incluirán el IVA aplicable en cada momento y en función de la residencia y las circunstancias del cliente. Wikiloc podrá solicitar la información que considere conveniente para acreditar cualquier extremo que sea relevante a efectos de la aplicación del IVA en las facturas emitidas. Es responsabilidad exclusiva del Usuario el conocer y liquidar las tasas e impuestos correspondientes en su país de residencia u origen.

El Usuario puede pagar los Servicios con tarjeta de crédito Visa o Mastercard o por PayPal y en el caso de servicios anuales también por transferencia bancaria.

4. Condiciones de la Promoción

El Usuario garantiza que:

La Promoción no infringe ni infringirá derechos de terceros (en particular, derechos de imagen, honor o intimidad, derechos de propiedad intelectual o industrial, o secretos industriales) ni incumple ni incumplirá ninguna normativa aplicable, en particular, la normativa publicitaria o la relativa a competencia desleal, protección de consumidores y usuarios, protección de datos personales, derecho al honor, a la intimidad y a la propia imagen y protección al menor y a la infancia. La Promoción no será contraria a la moral o al orden público.

La Promoción no incluirá información de carácter personal de ningún tercero sin su consentimiento expreso.

En la contratación de los Servicios el usuario cumple con toda la normativa aplicable y cuenta con los permisos y autorizaciones correspondientes.

Wikiloc podrá rechazar en cualquier momento y por cualquier causa la Promoción, si en opinión de Wikiloc va en contra de la letra o espíritu de estas Condiciones, no obstante Wikiloc no tendrá ninguna obligación de controlar o supervisar el contenido de la Promoción y por tanto esta facultad no limita en forma alguna las garantías otorgadas por el Usuario en virtud de esta Cláusula.

Wikiloc no garantiza el éxito ni la rentabilidad económica de los Servicios.

5. Responsabilidad del Usuario

El Usuario es responsable de todo el contenido que publique dentro de su espacio propio. El Usuario se compromete a indemnizar y mantener indemne a Wikiloc, de todos los gastos, costes, perjuicios y pérdidas de cualquier tipo (incluyendo honorarios de abogados y procuradores, aunque su intervención no sea preceptiva) en que incurra Wikiloc como consecuencia de un incumplimiento por el Usuario de las garantías sobre la Promoción o de cualquier obligación establecida en estas Condiciones.

6. Responsabilidad de Wikiloc por los Servicios.

Sin perjuicio de las limitaciones de responsabilidad establecidas en las Condiciones de Uso, Wikiloc no garantiza que los Servicios serán ininterrumpidos, seguros, temporáneos, libres de errores, exactos, confiables, de una calidad o fiabilidad determinada, que cualquier error será corregido.

El Usuario reconoce y acepta que es su responsabilidad exclusiva comprobar las funcionalidades de los Servicios con carácter previo a su contratación así como su idoneidad para atender a sus necesidades.

La máxima responsabilidad de Wikiloc bajo el contrato con el Usuario, será la devolución al Usuario de la remuneración recibida de ese Usuario en relación a los Servicios. EXCEPTO EN LOS CASOS DE ACTUACIÓN DOLOSA, WIKILOC NO SERÁ RESPONSABLE DE NINGÚN DAÑO O PERJUICIO DE CUALQUIER NATURALEZA QUE SE GENERE AL USUARIO EN RELACIÓN CON LOS SERVICIOS, EXCEPTO EN LOS TÉRMINOS EXPRESAMENTE ESTABLECIDOS EN ESTA CLÁUSULA.

7. Resolución

Wikiloc podrá dejar de prestar los Servicios unilateralmente si considera que, de cualquier forma, la Promoción incumple estas Condiciones, bastando para ello la mera comunicación. El Usuario acepta que Wikiloc no incurrirá en ninguna responsabilidad con motivo de la resolución de la prestación de los Servicios en estos términos.
</p>