<!--=========Modelo de prueba=========-->

<div id="video-container-home">

  <video class="video-home" width="100%" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://res.cloudinary.com/drls3a8oi/video/upload/v1615588872/videoHome_lglj0i.mp4" type="video/mp4">
  </video>
  <div id="tracks-home-link">
    <a class="container" href="/tracks">
      <div class="typewriter">
        <p class="line-1 anim-typewriter">Encuentra las mejores rutas a tu alrededor</p>
      </div>
    </a>
  </div>
</div>
<div class="gradient-overlay ">

</div>

<div class="home">
  {{> login}}
  {{> register}}
</div>
<div class="container">

  <h2 class="titulo-categorias">Explora la categoría que más te guste</h2>
  <hr class="hr">
  <div class="categoria-box container">
    <div class="firstrou row">
      <div class="col-sm">
        <a href="/categories/Trekking">
          <input type="image" width="100" height="100" class="container"
            src="https://res.cloudinary.com/drls3a8oi/image/upload/v1615231435/IRON%20HACK/MountainMadness/hiker_i6hab1.svg"
            id="camping">
        </a>
        <div class="category-card">

          <span class="icon-001"></span>
          <p class="category-name">Trekking </p>
        </div>
      </div>

      <div class="col-sm">
        <a href="/categories/Alpinismo">
          <input type="image" width="100" height="100" class="container"
            src="https://res.cloudinary.com/drls3a8oi/image/upload/v1615231435/IRON%20HACK/MountainMadness/piolet_auwciq.svg"
            id="forest">
        </a>
        <div class="category-card">

          <span class="icon-002"></span>
          <p class="category-name">Alpinismo</p>
        </div>
      </div>

      <div class="col-sm">
        <a href="/categories/Barranquismo">
          <input type="image" width="100" height="100" class="container"
            src="https://res.cloudinary.com/drls3a8oi/image/upload/v1615231435/IRON%20HACK/MountainMadness/river_czbuej.svg">
          <div class="category-card">
        </a>

        <p class="category-name">Barranquismo</p>
      </div>
    </div>

    <div class="col-sm">
      <a href="/categories/Vía ferrata">
        <input type="image" width="100" height="100" class="container"
          src="https://res.cloudinary.com/drls3a8oi/image/upload/v1615464523/IRON%20HACK/MountainMadness/climbing_ac8oao.svg">
        <div class="category-card">
      </a>
      <span class="icon-004"></span>
      <p class="category-name">Vía ferrata</p>
    </div>
  </div>

  <div class="col-sm">
    <a href="/categories/Escalada">
      <input type="image" width="100" height="100" class="container"
        src="https://res.cloudinary.com/drls3a8oi/image/upload/v1615464592/IRON%20HACK/MountainMadness/climb_tcfoyi.svg">
      <div class="category-card">
    </a>
    <span class="icon-005"></span>
    <p class="category-name">Escalada</p>
  </div>
</div>
</div>
<div class="secondrou row">
  <div class="col-sm">
    <a href="/categories/Motocross">
      <input type="image" width="100" height="100" class="container"
        src="https://res.cloudinary.com/drls3a8oi/image/upload/v1615231435/IRON%20HACK/MountainMadness/motocross_braiwx.svg">
      <div class="category-card">
    </a>
    <p class="category-name">Motocross</p>
  </div>
</div>

<div class="col-sm">
  <a href="/categories/Espeleología">
    <input type="image" width="100" height="100" class="container"
      src="https://res.cloudinary.com/drls3a8oi/image/upload/v1615463838/IRON%20HACK/MountainMadness/cave_zho9fj.svg">
    <div class="category-card">
  </a>
  <span class="icon-002"></span>
  <p class="category-name">Espeleología</p>
</div>
</div>

<div class="col-sm">
  <a href="/categories/TrailRunning">
    <input type="image" width="100" height="100" class="container"
      src="https://res.cloudinary.com/drls3a8oi/image/upload/v1615464394/IRON%20HACK/MountainMadness/trail_q7hi3w.svg">
    <div class="category-card">
  </a>

  <p class="category-name container">TrailRunning</p>
</div>
</div>

<div class="col-sm">
  <a href="/categories/Todoterreno">
    <input type="image" width="100" height="100" class="container"
      src="https://res.cloudinary.com/drls3a8oi/image/upload/v1615463628/IRON%20HACK/MountainMadness/4x4_tefbew.svg">
    <div class="category-card ">
  </a>
  <p class="category-name">Todoterreno</p>
</div>
</div>

<div class="col-sm">
  <a href="/categories/Kayak">
    <input type="image" width="100" height="100" class="container"
      src="https://res.cloudinary.com/drls3a8oi/image/upload/v1615464691/IRON%20HACK/MountainMadness/kayak_r660vs.svg">
    <div class="category-card">
  </a>
  <p class="category-name">Kayak </p>
</div>
</div>
</div>
</div>
<hr class="hr">
</div>