<!--=========Modelo de prueba=========-->


<div class="home">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h1>Eslogan sin definir 2</h1>
        <img src="../public/images/Logo prueba.png">
      </div>
    </div>
  </div>
</div>