body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;

    
  }
.error-message {
    color: var(--bs-red)
}

/*=============LIKES =================*/

.likes {
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: none;
  }
  
  .unliked {
    filter: grayscale();
  }

/*============= profile =================*/

.profile-img {
    width: 100%;
    margin-bottom: -60px;
    max-width: 150px;
    border-radius: 300px;
    border: 8px solid white;
    max-height: 150px;
    height: 206px;
    background-size: cover !important;
    background-position: center !important;
}
.bg-profile {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;

}
.form-control {
    resize: none;
    align-items: center !important;
}

/* ==================navbarhome==================== */
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.video-home {
    height: 75%;
    z-index: -100;
    width: 100%;
    position: relative;
}
/* home */
.gradient-overlay {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5242471988795518) 0%, rgba(0, 0, 0, 0) 100%);
    height: 100px;
    width: 100%;
    margin-top: -8px;
    
}

#tracks-home-link {
    position: absolute;
    text-align: center;
    top: 200px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

#tracks-home-link h2 {
    font-size: 2.5rem;
}

#tracks-home-link a {
    text-decoration: none;
    color: white;
}

.login-register-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    top: 350px;
    left: 0;
    right: 0;
    bottom: 200px;
    text-align: center;
    opacity: 0.8;
    z-index: 99;
}

#login-display {
    display: none;
}

#signup-display {
    display: none;
}

.signup-register-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    top: 350px;
    left: 0;
    right: 0;
    bottom: 200px;
    text-align: center;
    opacity: 0.8;
    z-index: 99;
}

#hide-login-close-icon {
    float: right;
    padding-right: 5px;
    border: none;
    background-color: rgba(0,0,0,0.7) !important;
}
#hide-sign-close-icon {
    float: right;
    padding-right: 5px;
    border: none;
    background-color: rgba(0,0,0,0.7) !important;
}

.card-home{
    background-color: rgba(0,0,0,0.7) !important;
}

.nav-link{
    margin-left: 20px;
}
.close-sesion{
    margin-left: 20px;
    height: 45px;

}
.form-button {
    width: 60%;
    margin: 0 auto;
}
.form-button-sign {
    width: 30%;
    margin: 0 auto;
}
.searchbtn {
    margin-left: 10px;
}

.form-button a {
    color: white;
    text-decoration: none;
}
.bghome {
    position: relative;
    background-color: rgba(0, 0, 0, 0.871);
    padding-top: 0px;
    padding-bottom: 130px;
    justify-content: center;
    top: 0;
    width: 100%;
}
.navbarhome {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    padding-top: 0px;
    padding-bottom: 130px;
    justify-content: center;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* categorias */ 

.titulo-categorias {
    text-align: center;
    padding-bottom: 35px;
    padding-top: 30px;
    font-family: 'Catamaran', sans-serif;
    font-size: 50px;

}
.categoria-box {
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.category-name{
    text-align: center;
}
.hr {
    border: 2px solid rgb(95, 165, 95);
    border-radius: 5px;
}
.firstrou {
    margin-bottom: 30px !important;
}

/* carousel */

.image-div {
    width: 400px;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }

  .title-carousel {
      text-align: center !important;
      font-family: 'Open Sans', sans-serif !important;
      font-size: 35px !important;
      text-decoration: none !important;
      vertical-align: middle !important;
      outline: none !important;
      text-decoration: none !important;
      padding: 2px 1px 0 !important;
      color: rgb(95, 165, 95);
      font-weight: bolder;
  }

.title-carousel:before {
    content: '[';
    color:  rgba(0, 0, 0, 0.796);
    font-size: 40px;
    text-align: right;
    padding-right: 10px;
    text-decoration-color: rgb(95, 165, 95)!important;
}

.title-carousel:after {
    content: ']';
    color: rgba(0, 0, 0, 0.796);
    font-size: 40px;
    text-align: left;
    padding-left: 10px;
    text-decoration-color: rgb(95, 165, 95) !important;
}

.container-slider {
    padding-bottom: 60px;

}

/*================footer======== */

.footer
{
    height: 0px;
    background-color: rgba(0, 0, 0, 0.672);
    position: absolute;
    width: 100%;
}
.p-4{
    background-color:rgba(0, 0, 0, 0.823);
    
}

/* ================= tracks ===============================*/
.container-fluid-list {
    background-color: rgb(185, 183, 183);
}
.titulo-lista-tracks{
    text-align: center;
    vertical-align: auto;
}
.tracktitle{
    text-decoration: none;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.spacetracktop {
    margin-top: 50px;
}
.spacedescription {
    margin-top: 30px;
    margin-bottom: 200px;
}
.textarea {
    width: 100%;
    height: 180px;
    resize: none;
}



.butoncrearruta {
    max-width: 100%;
    align-items: center;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 30px;
}
.card-img-top{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}
.box-track-img {

    width: 400px;
    height: 300px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.trackdetailimg{
    border: white;
    background: grey;
    width: 50%;
}

.trackdetaildescription{
        background: grey;
        width: 15%;
}

.rowtrackdetail {
    display: flex;
    width: 100%;
  }

.card-body {
    display: inline-block;
}

/* ================= MAPS CSS ===============================*/
#right-panel {
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
  }
  
  #right-panel select,
  #right-panel input {
    font-size: 15px;
  }
  
  #right-panel select {
    width: 100%;
  }
  
  #right-panel i {
    font-size: 12px;
  }
  
  #map {
    height: 100%;
    float: left;
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
  }
  .divacio {
    margin-bottom: 200px;
}
  
  #right-panel {
    margin: 20px;
    border-width: 2px;
    width: 20%;
    height: 400px;
    float: left;
    text-align: left;
    padding-top: 0;
  }
  
  #directions-panel {
    margin-top: 10px;
    background-color: #ffee77;
    padding: 10px;
    overflow: scroll;
    height: 174px;
  }

  
  /* DEMO-SPECIFIC STYLES */
 
  .line-1{
    position: relative;
    top: 45px;  
    width: 24em;
    margin: 0 auto;
    font-family: 'Akaya Telivigala', cursive;

   
    font-size: 320%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-40%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


/*FOOTER*/





.filelabel {
    width: 400px;
    height: 200px;
    border: 2px dashed grey;
    border-radius: 5px;
    display: block;
    padding: 5px;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;
    margin: 0;
}
.filelabel i {
    display: block;
    font-size: 30px;
    padding-bottom: 5px;
}
.filelabel i,
.filelabel .title {
  color: grey;
  transition: 200ms color;
  vertical-align: middle;
  margin-top: 50px;
}
.filelabel:hover {
  border: 2px solid #1665c4;
}
.filelabel:hover i,
.filelabel:hover .title {
  color: #1665c4;
}
#FileInput{
    display:none;
}


/* DASH LINE CREATE TRACKS */

.columcreate{
    height: 300px;
}
.rowcreate{
    height: 300px;
}

.c-dashed-line__path {
	animation: c-dashed-line-path 3s ease-in-out infinite alternate;
	fill: none;
	stroke: #31CC89;
	stroke-dasharray: 940; /* this is the entire length of the line */
	stroke-dashoffset: 940; /* this is the entire length of the line */
	stroke-width: 10;
}

.c-dashed-line__dash {
	fill: none;
	stroke: #FFFFFF; /* this must match the background color */
	stroke-dasharray: 16 10; /* draws a 10px dash line with a 16px gap between */
	stroke-width: 19; /* make the dashed line slightly bigger than the one it's covering */
}

@keyframes c-dashed-line-path {
	from {
		stroke-dashoffset: 940;
	}
	to {
		stroke-dashoffset: 0;
	}
}
