
<!--=========Modelo de prueba=========-->

<div class="container">
  <form action="/users/login" method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">Correo electr칩nico</label>
      <input type="email" name="email" value="{{user.email}}" class="form-control" id="email" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contrase침a</label>
      <input type="password" name="password" class="form-control" id="password" required>
    </div>

    {{#if error}}
      <p class="error-message">{{error}}</p>
    {{/if}}

    {{#if message}}
      <p class="success-message">{{message}}</p>
    {{/if}}
    <button type="submit" class="btn btn-primary">Iniciar sesi칩n</button>
    <a href="/authenticate/google" class="btn btn-danger">Iniciar sesi칩n con Google</a>


  </form>
</div>