<div class="d-flex position-relative">
  <img src="..." class="flex-shrink-0 me-3" alt="...">
  <div>
    <h5 class="mt-0">Custom component with stretched link</h5>
    <p>Tu nombre de usuario es{{currentUser.email}}</p>
    <a href="#" class="stretched-link">Go somewhere</a>
  </div>
</div>